@import url(../assets/css/fontawesome-all.min.css);
.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    list-style: none;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    background-color: #414141 !important; 
    color: #eece1a; 
    font-weight: 700;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 768px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
 /* @media screen and (max-width: 600px) {
   .topnav.responsive {position: relative;}
    /*.topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }*/

  @media screen and (max-width: 768px) {
    .topnav .menu-btn {
        position: absolute;
        display: block;
        right: 35px;
        cursor: pointer;
        z-index: 3;
        transition: all 0.5s ease-out; 
    }
    main #about {
            margin-top: 300px;
        }
    }
.menu-btn {
    position: absolute;
    top: 14px;
    right: 35px;
    cursor: pointer;
    z-index: 3;
    transition: all 0.5s ease-out; }
    .menu-btn .btn-line {
      width: 28px;
      height: 3px;
      margin: 0 0 5px 0;
      background: #fff;
      transition: all 0.5s ease-out; }
    .menu-btn.close {
      transform: rotate(180deg); }
      .menu-btn.close .btn-line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px); }
      .menu-btn.close .btn-line:nth-child(2) {
        opacity: 0; }
      .menu-btn.close .btn-line:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px); }
  
  .menu {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
    visibility: hidden; }
    .menu.show {
      visibility: visible; }
    .menu-branding, .menu-nav {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      text-align: center;
      /*float: left;*/
    
      overflow: hidden;
      width: 50%;
      height: 100vh; }
    .menu-nav {
      margin: 0;
      padding: 0;
      background: #0c0c0c;
      list-style: none;
      transform: translate3d(0, -100%, 0);
      transition: all 0.5s ease-out; }
      .menu-nav.show {
        transform: translate3d(0, 0, 0); }
    .menu-branding {
      background: rgb(182, 182, 182);
      transform: translate3d(0, 100%, 0);
      transition: all 0.5s ease-out; }
      .menu-branding.show {
        transform: translate3d(0, 0, 0); }
      .menu-branding .portrait {
        width: 150px;
        height: 150px;
        border-radius: 50%;
      
        background: url("../image/swiftlogo.png");
        /*border: 3px solid #eece1a;*/
        background-position: center;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        text-align: center;
        background-size: contain;
        z-index: 20;
        background-repeat: no-repeat; }
    .menu .nav-item {
      transform: translate3d(600px, 0, 0);
      transition: all 0.5s ease-out; }
      .menu .nav-item.show {
        transform: translate3d(0, 0, 0); }
      .menu .nav-item.current > a {
        color: #eece1a; }
    .menu .nav-link {
      display: inline-block;
      position: relative;
      font-size: 30px;
      text-transform: uppercase;
      padding: 1rem 0;
      font-weight: 300;
      color: #fff;
      text-decoration: none;
      transition: all 0.5s ease-out; }
      .menu .nav-link:hover {
        color: #eece1a;
        text-decoration: underline; }
  
  .nav-item:nth-child(1) {
    transition-delay: 0.2s; }
  
  .nav-item:nth-child(2) {
    transition-delay: 0.4s; }
  
  .nav-item:nth-child(3) {
    transition-delay: 0.6s; }
  
  .nav-item:nth-child(4) {
    transition-delay: 0.8s; }
  
  * {
    box-sizing: border-box;
    margin: 0 auto; }
  
  body {
    background-color: #fff;
    background-position: center;
    background-size: cover;
    background-origin: border-box;
    color: rgb(7, 7, 7);
    height: 100%;
    font-weight: 600;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5; }

  
  a {
    color: #fff;
    text-decoration: none; }
  
  header {
    position: fixed;
    z-index: 2;
    width: 100%; }
  
  .text-secondary {
    color: #f1a947; }
  
  main {
    min-height: calc(100vh - 60px); }
    main .icons {
      margin-top: 1rem; }
      main .icons a {
        padding: 0.4rem; }
        main .icons a:hover {
          color: #eece1a;
          transition: all 0.5s ease-out; }
    main#home {
      overflow: hidden; }
      main#home h1 {
        margin-top: 20vh; }
  

        @media screen and (max-width: 768px) {
          #aboutnew {
              padding-top: 80px;
              
          }  
           }

  .about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 'bioimage bio bio';
    grid-template-columns: repeat(3, 1fr); }
    .about-info .bio-image {
      grid-area: bioimage;
      width: 100px;
      height: 70px;
      align-items: flex-start;
     /* border-radius: 50%;
      border: #eece1a 3px solid; }*/
    }
    .about-info .bio {
      grid-area: bio; }

  
  
  #main-footer {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0px; 
    padding: 1rem 0 0 0;
    color: #fff !important;
    }
  
  @media screen and (max-width: 500px) {
    main {
      padding: 1rem; }
      #foot {
        font-size: 0.5rem;
      }
      main .lg-heading {
        font-size: 2rem; }
      main .boxes div {
        font-size: 0.75rem; }
      main #home h1 {
        margin-top: 10vh; }
      main .projects {
        grid-template-columns: 1fr; } }
  
  @media screen and (max-width: 768px) {
    main {
      padding: 1rem; }
      main .boxes div {
        font-size: 1rem; }
        #foot {
            font-size: 1rem;
          }
      main .lg-heading {
        font-size: 3rem;
        line-height: 1;
        margin-bottom: 1reem; }
    ul.menu-nav, div.menu-branding {
      float: none;
      width: 100%;
      min-height: 0; }
      ul.menu-nav.show, div.menu-branding.show {
        transform: translate3d(0, 0, 0); }
    .menu-nav {
      height: 65vh;
      transform: translate3d(-100%, 0, 0);
      font-size: 24px; }
    .menu-branding {
      height: 35vh;
      transform: translate3d(100%, 0, 0); }
      .menu-branding .portrait {
        background: url("../image/swiftlogo.png");
        text-align: center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 100px;
        height: 100px;
        margin: 5px 0; }
    .about-info {
      grid-template-areas: 'bioimage'
   'bio'
   'job1'
   'job2'
   'job3';
      grid-template-columns: 1fr; }
    .projects {
      grid-template-columns: repeat(2, 1fr); } }
  
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    main {
      padding: 4rem; }
    }
  
  @media screen and (min-width: 1171px) {
    main {
      padding: 4rem; }
      #foot {
        font-size: 1.5rem;
      }
      }